<div class="container">

    <%= form_for Comment.new(commentable: commentable) do |f| %>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <%= f.hidden_field :return_to, value: request.original_url %>

    <div class="row">
      <div class="col-md-10 col-sm-8 col-md-offset-1 col-sm-offset-2 panel-default">
        <div class="panel-heading">
          <h4>Laissez un commentaire :</h4>
        </div>

        <div class="panel-body">
          <div class="form-group">
              <%= f.text_area :comment, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit 'Envoyer', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>