<div class="container general">
  <div class="row">

    <div class="col-md-offset-3 col-md-4">
      <h3><%= @company.name %><h3>
      <strong>Description:</strong>
      <p> <%= @company.description %></p>
      <p> <%= @company.addresses.first.street %></p>
      <p> <%= @company.addresses.first.zipcode %></p>
      <p> <%= @company.addresses.first.city %></p>
    </div>
  </div>
</div>